
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

@import 'bulma';
@import '~bulma-calendar';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
